.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
}

.icone{
    animation: pulsar 1.5s infinite;
    width: 30%;
    height: 50%;
    border-radius: 20%;
}

.gif{
    width: 30%;
    height: 50%;
    border-radius: 20%;
}

@keyframes pulsar {
    0%{
        background: linear-gradient(rgb(110,50,150), rgb(198,19,18));
    }
    50%, 100%{
        background: linear-gradient(rgb(110,50,150),rgb(198,19,18));
        box-shadow: 0 0 5px rgb(110,50,150),
                    0 0 20px rgb(110,50,150),
                    0 0 50px rgb(110,50,150),
                    0 0 100px rgb(110,50,150),
                    0 0 250px rgb(110,50,150),
    }
    50%{
        background: linear-gradient(rgb(110,50,150), rgb(198,19,18));
        box-shadow: 0 0 100px rgb(110,50,150),
                    0 0 50px rgb(110,50,150),
                    0 0 20px rgb(110,50,150),
                    0 0 0px rgb(110,50,150);
    }
}